<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList using ejs</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      li {
        list-style-type: none;
      }
      .wrapper {
        background: #e5ebff;
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
      }

      .triangle {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 0;
        border-bottom: 61vh solid #a086db;
        border-right: 74vw solid transparent;
        z-index: -1;
      }

      .Date {
        background-color: #a086db;
        color: white;
        padding: 0.7rem 1rem;
        box-shadow: 0px 0px 11px 2px #c3c1c1;
        border-radius: 10px;
        font-size: 1.8rem;
      }

      .todoBox {
        background-color: white;
        margin-top: 2rem;
        box-shadow: 0px 0px 9px 2px #c3c1c1;
      }
      .todo {
        border-bottom: 1px solid lightgray;
        padding: 0.8rem;
        padding-right: 10.7rem;
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      .form {
        display: flex;
        gap: 1rem;
        padding-top: 1rem;
        justify-content: center;
      }
      .form input {
        border: none;
        width: 80%;
        margin-bottom: 2px;
      }

      .form input:focus {
        border-bottom: 3px solid #a086db;
        outline: none;
      }

      .addBtn {
        width: 2rem;
        height: 2rem;
        background-color: #a086db;
        border-radius: 50%;
        color: white;
        border: none;
        font-size: 1.2rem;
        margin-bottom: 4px;
      }

      /* class to strike the selected */
      .completed {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="wrapper">
      <h2 class="Date"><%= today %></h2>

      <div class="todoBox">
        <ul>
          <li class="todo">Add todos below:</li>

          <% todos.forEach(todo => {%>
          <li class="todo">
            <input type="checkbox" name="markItem" data-index="<%= todo.id%>" />
            <span class="todoText<%= todo.completed ? ' completed' : '' %>"
              ><%= todo.text %></span
            >
          </li>
          <%}); %>

          <form action="" method="post" class="form">
            <input
              type="text"
              name="addItem"
              autocomplete="off"
              placeholder="additem"
            />
            <button type="submit" class="addBtn">+</button>
          </form>
        </ul>
      </div>

      <div class="triangle"></div>
    </div>

    <script defer>
      document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener("change", async function () {
            const index = checkbox.getAttribute("data-index");
            console.log("index is: " + index);
            if (checkbox.checked === true) {
              console.log("checked");
            }
            // console.log("data is: " + this.dataset);

            // Send a POST request to the server to mark the item as completed or not

            let resp = await axios.post("/select-item", { index: index });
            // console.log();
            if (resp.data.message === "allOk") {
              // window.location.reload();
            }
          });
        });
      });
    </script>
  </body>
</html>
