body {
  background: #b9ccd3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.wrapper {
  height: 100vh;
  /* width: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerBox {
  padding: 1rem 1.1rem;
  box-shadow: 1px 2px 18px 0.3px #b0b0b0;
  background: white;
  border-radius: 1rem;
}

#heading {
  margin: 1rem auto;
  width: 17rem;
}
#imgBox {
  background-color: rgb(41 138 243);
  padding: 4rem 0rem;
  text-align: center;
  width: 19rem;
  border-radius: 1rem;
  margin: auto;
}

#qrcode {
  width: 10rem;
}
.desc {
  color: lightslategray;
  width: 16rem;
  margin: auto;
  font-size: 0.8rem;
}


@media screen and (max-width: 300px){
    .wrapper{
        width: fit-content;
    }
}